/* ------------------폰트------------------ */
@font-face {
  font-family: "NanumSquareNeo";
  src: url("./fonts/NanumSquareNeoOTF-Rg.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareNeo";
  src: url("./fonts/NanumSquareNeoOTF-Bd.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareNeo";
  src: url("./fonts/NanumSquareNeoOTF-Hv.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: "NanumSquareNeo", sans-serif;
}
/*---------------- 노말라이즈--------------- */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
/* ----------------라이브러리----------------- */
.border {
  border: 0.2px solid red;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.ai-c {
  align-items: center;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}
/* --------------------헤더-------------------- */
header {
  position: fixed;
  height: 65px;
  background-color: #dcdcdc;
}
/* ---------------------탑 바---------------------- */
.top_bar {
  width: 1741px;
  margin: 0 82px;
}
/* -----------------------탑 바 로고--------------------- */
.top_bar_logo > a {
  width: 140px;
  height: 28px;
  background: url(https://campaign-cdn.pstatic.net/0/naverfficial/1108/img/logo_gray.gif)
    no-repeat center / contain;
}
/* --------------------탑 바 메뉴------------------------------ */
.top_bar_menu > ul {
  margin-right: 40px;
}

.top_bar_menu > ul > li > a {
  padding: 0 20px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.6px;
}

.top_bar .top_bar_menu_btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  width: 22px;
  height: 22px;
  background-image: url(https://campaign-cdn.pstatic.net/0/naverfficial/1108/img/sp-mo.png#ico_search);
  background-repeat: no-repeat;
  background-position: -108px -155px;
  background-size: 214px auto;
}
/* ------------------탑 바 버튼 박스----------------- */
.top_bar_btn_box {
  height: 289.797px;
  background-color: #000;
}

.btn_box_item {
  width: 864px;
  height: 177.797px;
  margin: 0 528px;
}
